<header id="navbar"  *ngIf="userIsAuthenticated" >
  <div class="top">
      <h1 (click)="themeToggle.click()" >Lounge.</h1>
      <input type="checkbox" #themeToggle (change)="onToggle($event)">
      <app-search></app-search>

  </div>
  <nav>
      <ul>
          <li class="navlist">
              <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" title="Home">
                  <img id="home" src="../../assets/img/home.svg">
              </a>
          </li>
          <li class="navlist">
              <a title="Games" routerLink="/games" routerLinkActive="active">
                  <img id="games" src="../../assets/img/joystick.svg">
              </a>
          </li>
          <li class="navlist">
              <a title="Add Game" routerLink="/addgame" routerLinkActive="active">
                  <img id="chat" src="../../assets/img/addgame.svg">
              </a>
          </li>
      </ul>
  </nav>
  <div class="user-link">
    <ul>
      <div id="notifs-number" *ngIf="notifs.length!==0">{{notifs.length}}</div>
      <li  [ngClass]="{'notifs-full':notifs,
                       'notifs-empty':notifs.length===0}">
        <img (click)="bellToggle.click()" src="../../assets/img/notification.svg">
        <input type="checkbox" #bellToggle (change)="toggle($event)">
      </li>
      <div id="dropdown-notifs"> <app-notifications></app-notifications></div>
      <li class="navlist">
        <button id="logout" (click)="onLogout()">
          Log Out
      </button>
      </li>
      <li [routerLink]="['/profile',user.userId]"  class="navlist">
          <img src="../../assets/img/user.svg">
         <div id="username"> {{user.username}}</div>
      </li>
  </ul>
  </div>
</header>

