<div class="login" *ngIf="!userIsAuthenticated" routerLink="/login">
  <form  (submit)="onLogin(loginForm)" #loginForm="ngForm">
    <input type="email" ngModel id="name" name="email" #emailInput="ngModel" placeholder="email">
    <input type="password" ngModel id="password" name="password" #passwordInput="ngModel"  placeholder="password">
  <button type="submit" id="loginbtn">Log In</button>
  </form>
  <div id="signup-box">
    <div>Don't have an account?</div>
    <a title="Sign Up" routerLink="/signup" >
      Sign Up
   </a>
  </div>
</div>
