
.login input{
  border-bottom:3px solid rgb(247, 141, 42);
}
.login input:focus{
  border-bottom:3px solid rgb(247, 42, 76);
}
#loginbtn{
  background:rgb(247, 141, 42);
}

#signup-box{
  width: 100%;
  text-align: center;
}
#signup-box a{
  text-decoration: none;
  color: rgb(45, 65, 252);
}
#signup-box div{
  width: 100%;
}
