<h1 id="signup-header">Sign Up</h1>
<div class="signup">
  <form  (submit)="onSignup(signupForm)" #signupForm="ngForm" autocomplete="off">
    <input type="text" ngModel required name="name"  #nameInput="ngModel" placeholder="enter full name">
    <div class="error-req" *ngIf="submitted&&nameInput.errors.required">*required field</div>
    <input type="text" ngModel required name="username"  #usernameInput="ngModel" placeholder="enter username">
    <div class="error-req" *ngIf="submitted&&usernameInput.errors.required">*required field</div>
    <input type="email" ngModel required id="name" name="email" #emailInput="ngModel" placeholder="email">
    <div class="error-req" *ngIf="submitted&&emailInput.errors.required">*required field</div>
    <input type="password" ngModel required minlength="7" id="password" name="password" #passwordInput="ngModel"  placeholder="password (min. 7 characters)">
    <div class="error-req" *ngIf="submitted&&passwordInput.errors.required">*required field</div>
  <button type="submit" id="signupbtn">Sign Up</button>
  </form>
  <div class="error">
    {{errmessage}}
  </div>
</div>
