/* You can add global styles to this file, and also import other style files */
*{
  font-family:'Sen' ;
  margin:0;
  box-sizing: border-box;
}
:root {
  --card-color: #fff;
  --font-color: #000;
  --muted-font:#444242;
  --grad-1:orange;
  --grad-2:orange;
  --grad-3:orange;
  --grad-4:orange;
  --bg-color: #fff;
  --banner:#fff;
}
[data-theme="dark"] {
    --card-color: rgb(66, 64, 82);
    --font-color: #fff;
    --muted-font:#a3a3a3;;
    --grad-1:rgb(255, 87, 219);
    --grad-2:rgb(205, 42, 255);
    --grad-3:rgb(161, 47, 255);
    --grad-4:rgb(87, 27, 226);
    --bg-color: rgb(39, 36, 56);
    --banner:rgb(39, 36, 56);
}
body{
  background-color:var(--bg-color);
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}
.card{
  background-color: var(--card-color);
  color:var(--font-color);
}
.error{
  color:red;
}
.login,.signup{
  display: flex;
  justify-content:center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 10px;
  width: 590px;
  height: 400px;
  border-radius: 25px;
}
.login form,.signup form{
  display: flex;
  width: 99.99%;
  height: 99.99%;
  justify-content:center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}
.login input,.signup input{
  display:block;
  outline:none;
  color: #222222;
  margin: 20px 0;
  width: 75%;
  padding: 10px 20px;
  transition: 0.5s;
  border:none;
}
.login input:focus,.signup input:focus{
  transform: scale(1.1);
}
#loginbtn,#signupbtn{
  outline: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin:  30px 0;
  color:#ffffff;
  width: 75%;
  transition: 0.3s;
  text-align: center;
  opacity: 1;
  border:none;
  font-size: 85%;
}
#loginbtn:hover,#signupbtn:hover{
  transform: scale(1.08);
}
